/* Navbar Component*/ 

.custom-navbar {
  background-color: rgba(0, 12, 175, 0.1);
  box-shadow: 0px 2px 100px rgba(220, 243, 255, 0.7);
  backdrop-filter: blur(20px); 
}

.navbar-container {
  padding: 25px;
}

.custom-navbar .navbar-brand, 
.custom-navbar .nav-link {
  color: white;
  font-family: var(--primary-font);
  letter-spacing: 1px;
}

.navbar-links {
  margin-left: auto;
  gap: 10px;
}

/* Homepage */

.horizontal-line-top {
  width:0;
  height: 2px;
  background-color: var(--secondary-colour);
  margin: 20px 0;
  animation: showLeftToRight 1s  ease-in forwards;
}

.horizontal-line-bottom {
  width:0;
  height: 2px;
  background-color: var(--secondary-colour);
  margin: 20px 0;
  animation: showLeftToRight 0.75s  ease-in forwards;
  animation-delay: 3s;

}

.typewriter p {
  overflow: hidden; 
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 1.5s steps(40, end), step-end forwards;
}

.github-calendar {
  opacity: 0;
  animation: appearOnPage 1s forwards;
  animation-delay: 2s;
}

.github-calendar.loaded {
  opacity: 1;
  animation: none;
}

/* Footer Component*/

.footer {
  background-color: rgba(0, 12, 175, 0.1);
  box-shadow: 0px -2px 100px rgba(220, 243, 255, 0.7);
  backdrop-filter: blur(20px); 
  padding: 20px;
  margin-top: auto;
}

.footer-text p { 
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  color: white;
}

/* Projects Page */

.project-card-built {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 5px ridge var(--built-accent);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px); 
}

.project-card-building {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 5px ridge var(--building-accent);  
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px); 
}

.project-card-built img,
.project-card-building img {
  height: 100%;
  width: 100%;  
}

.project-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card-content h1 {
  font-size: 22px;
  padding: 20px;
  text-align: center;
}

.project-card-content p {
  font-size: 18px;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

.view-button {
  margin-bottom: 20px;
  color: white;
  background-color: var(--built-accent);
  font-family: var(--secondary-font);
  border-radius: 15px;
  border: none;
  padding: 5px 20px;
  transition: transform 0.3s ease;
}

.view-button:hover {
  transform: scale(1.1);
}

/* Experience Page */

.experience-card {
  display: flex;
  border: 5px ridge var(--work-accent);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px); 
}

.experience-card-content h1 {
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}

.experience-card-content p {
  margin: 5px;
  text-align: center;
}

.experience-card-content ul {
  font-size: 17px;
  margin: 10px;
  padding-bottom: 20px;
}

/* About Me Page */

.about-me-container h1 {
  font-size: clamp(24px, 2vw, 40px);
  padding: 10px;
  font-weight: normal;
}

.about-me-container p{
  font-size: clamp(16px, 2vw, 22px);
  margin: 20px 10px;
}

.about-me-intro,
.about-me-skills,
.about-me-interests {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  padding: 30px;
  border-radius: 50px;
  margin: 30px;
}

.about-me-intro img{
  width: auto;
  max-height: 400px;
  border-radius: 80px;
  border: 10px double rgb(204, 124, 33);
}

@media (max-width: 768px) {
  .about-me-intro img{
    max-height: 300px;
  }
}

.tech-icons {
  font-size: 6em;
  margin: 10px;
  padding: 5px;
  border: 3px solid var(--primary-colour);
  border-radius: 5px;
}

.about-me-interests img {
  border-radius: 10px;
  border: 3px solid var(--secondary-colour);
}

.about-me-interests ul {
  font-family: var(--primary-font);
  font-size: clamp(16px, 2vw, 18px);
}

.about-me-interests li {
  margin: 5px;
}